*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* EMPRESAS */
#box-empresas {
  background-color: #F5F5F5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 50px auto 50px auto;
}

.card {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  cursor: pointer;
}

.card.selected {
  background-color: #007BFF;
  color: #FFFFFF;
}

.icon {
  color: #007BFF;
  margin-right: 15px;
}

.empresa-name {
  color: #343A40;
  margin: 0;
}

/* CADASTRO */
.cadastro-section {
  padding: 40px;
  text-align: center;
}

.cadastro-title {
  color: #343A40;
  font-size: 24px;
  margin-bottom: 20px;
}

.label-email {
  color: #343A40;
  font-weight: bold;
  margin-right: 10px;
}

.input-email {
  padding: 10px;
  border: 1px solid #007BFF;
  border-radius: 4px;
  width: 200px;
  margin-right: 10px;
}

.botao-cadastrar {
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.botao-cadastrar:hover {
  background-color: #0056b3;
}